<div class="row text-right sish-miga-de-pan">
    <div class="col-md-12 text-right">
      <ol class="breadcrumb float-sm-right sish-miga-de-pan">
        <li class="breadcrumb-item active">Configuración</li>
        <li class="breadcrumb-item">Pruebas</li>
        <li class="breadcrumb-item">Pasos</li>
      </ol>
    </div>
  </div>
  <div class="container-fluid bg-white pt-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="sish-titulo-formulario">Administración de pruebas :: pasos</h2>
        <hr />
      </div>
    </div>
    <app-datatable 
      [datos]="datosFilter"
      [opciones]="columnas"
      [id]="'id'"
      [rutaGeneral]="rutaGeneral"
      [rutaEdicion]="rutaEdicion"
      [columnaEstado]="'activo'"
      [condicionEstado]="'No'"
      [consultarRegistros]="false"
      [transformaciones]="{ estado: { '1': 'activo', '0': 'inactivo' } }"
      [editarRegistros]="true"
      [eliminarRegistros]="true"
      [cambiarEstadoRegistros]="false"
      (accion)="accionRegistro($event)"
      [verFiltros]="true"
      [verColumnas]="true"
      [crear]="true"
      [copiar]="true"
      [imprimir]="true"
      [excel]="true"
      [botones]="botones"
      [botonesGenerales]="botonesGenerales"
      (accionGeneral)="accionGeneral($event)"
    ></app-datatable>
  </div>
  