<form
  [ngClass]="
    dtOptions.verFiltro ? 'sish-form collapse show' : 'sish-form collapse'
  "
>
  <div class="row">
    <ng-container *ngFor="let filtro of dtOptions.columns">
      <div
        class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12"
        *ngIf="filtro.filter"
      >
        <label>{{ filtro.title }}</label>
        <input
          *ngIf="filtro.tipo === 'texto'"
          type="text"
          class="form-control"
          [id]="'filtro_' + filtro.data"
          (keyup)="filtrarParametro(filtro.data, $event)"
        />
        <ng-container *ngIf="filtro.tipo === 'rangoNumero'">
          <div class="row">
            <div class="col-6">
              <input
                type="number"
                class="form-control"
                placeholder="mínimo"
                [id]="'filtro_min_' + filtro.data"
                (keyup)="filtrarParametro(filtro.data, $event, true)"
                (change)="filtrarParametro(filtro.data, $event, true)"
                (blur)="filtrarParametro(filtro.data, $event, true)"
              />
            </div>
            <div class="col-6">
              <input
                type="number"
                class="form-control"
                placeholder="máximo"
                [id]="'filtro_max_' + filtro.data"
                (keyup)="filtrarParametro(filtro.data, $event, false, true)"
                (change)="filtrarParametro(filtro.data, $event, false, true)"
                (blur)="filtrarParametro(filtro.data, $event, false, true)"
              />
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="filtro.tipo === 'rangoFecha'">
          <div class="row">
            <div class="col-6">
              <input
                type="date"
                class="form-control"
                placeholder="mínimo"
                [id]="'filtro_min_' + filtro.data"
                (keyup)="filtrarParametro(filtro.data, $event, true)"
                (blur)="filtrarParametro(filtro.data, $event, true)"
              />
            </div>
            <div class="col-6">
              <input
                type="date"
                class="form-control"
                placeholder="máximo"
                [id]="'filtro_max_' + filtro.data"
                (keyup)="filtrarParametro(filtro.data, $event, false, true)"
                (blur)="filtrarParametro(filtro.data, $event, false, true)"
              />
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="filtro.tipo === 'seleccion'">
          <select
            class="form-control"
            [id]="'filtro_' + filtro.data"
            (change)="filtrarParametro(filtro.data, $event)"
          >
            <option value="" selected>seleccionar...</option>
            <option *ngFor="let op of filtro.opciones" [value]="op">{{ op }}</option>
          </select>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="sish-boton-formulario-naranja" (click)="filtrar()">
        Consultar
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12 mt-5">
    <table
      datatable
      class="sish-tabla"
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
    ></table>
    <div id="botones"></div>
    <br />
  </div>
</div>
