<div class="row text-right sish-miga-de-pan">
    <div class="col-md-12 text-right">
      <ol class="breadcrumb float-sm-right sish-miga-de-pan">
        <li class="breadcrumb-item active">Seguridad</li>
        <li class="breadcrumb-item">Roles</li>
      </ol>
    </div>
  </div>
  <div class="container-fluid bg-white pt-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="sish-titulo-formulario">Consulta de roles del sistema</h2>
        <hr />
      </div>
    </div>
    <app-datatable
      [datos]="datosFilter"
      [opciones]="columnas"
      [id]="'id'"
      [rutaGeneral]="rutaGeneral"
      [columnaEstado]="'activo'"
      [condicionEstado]="'No'"
      [consultarRegistros]="false"
      [editarRegistros]="false"
      [eliminarRegistros]="false"
      [cambiarEstadoRegistros]="false"
      (accion)="accionRegistro($event)"
      [verFiltros]="true"
      [verColumnas]="true"
      [crear]="false"
      [copiar]="true"
      [imprimir]="true"
      [excel]="true"
      (accionGeneral)="accionGeneral($event)"
    ></app-datatable>
  </div>
  