<nav class="main-header navbar navbar-expand fao-linea-usuario fao-azul-oscuro">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><em class="fas fa-bars"></em></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a [routerLink]="'inicio'" class="nav-link">Inicio</a>
        </li>
        <!--<li class="nav-item d-none d-sm-inline-block">
            <a href="https://acueducto.com.co" class="nav-link">Portal corporativo</a>
        </li>-->
    </ul>

    <ul class="navbar-nav ml-auto">
        
    </ul>
</nav>