<div class="row text-right sish-miga-de-pan">
  <div class="col-md-12 text-right">
    <ol class="breadcrumb float-sm-right sish-miga-de-pan">
      <li class="breadcrumb-item active">Inicio</li>
    </ol>
  </div>
</div>

<div class="container-fluid bg-white pt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="sish-titulo-formulario">Bienvenido: {{ usuario.nombre }}</h2>
      <hr />
    </div>
  </div>
  <div class="row p-5">
    <div
      class="text-justify overflow-auto w-50"
      style="height: 30vh !important"
    >
      <p>
        La Meta 11 de Aichi del Plan Estratégico de Biodiversidad (2010-2020)
        del Convenio de Diversidad Biológica (CDB), busca para el “2020 que al
        menos el 17% de las zonas terrestres y de las aguas interiores y el 10%
        de las zonas marinas y costeras, especialmente las que revisten
        particular importancia para la diversidad biológica y los servicios de
        los ecosistemas, se habrán conservado por medio de sistemas de áreas
        protegidas administrados de manera eficaz y equitativa, ecológicamente
        representativos y bien conectados, y de otras medidas de conservación
        efectivas basadas en áreas, y estas estarán integradas a los paisajes
        terrestres y marinos más amplios”.
      </p>
      <p>
        Las Otras Medidas Efectivas de Conservación Basadas en Áreas (OMEC)
        fueron definidas en la Decisión 14/8 del CDB como “un área delimitada
        geográficamente que no sea un área protegida, que es gestionada de
        manera que se logren resultados positivos y a largo plazo para la
        conservación in situ de la biodiversidad, con funciones y servicios
        ecosistémicos asociados y, cuando corresponda, culturales, espirituales,
        socioeconómicos, y otros valores relevantes a nivel local”. La Decisión,
        además, establece cuatro criterios y una seria de subcriterios
        asociados, que se deben cumplir para que un área sea reconocida como
        OMEC.
      </p>
      <p>
        Gracias al trabajo del Grupo de Especialistas en OMEC de la Comisión
        Mundial de Áreas Protegidas se ha venido desarrollando una metodología
        para identificar otras medidas efectivas de conservación basadas en área
        a nivel de sitio (Jonas y Marnewick, 2021 documento en preparación).
        Esta metodología plantea cuatro fases que permiten llegar al reporte de
        la OMEC en la Base de Datos Mundial de OMEC (<a
          href="https://www.protectedplanet.net/en/thematic-areas/oecms?tab=OECMs"
          >https://www.protectedplanet.net/en/thematic-areas/oecms?tab=OECMs</a
        >).
      </p>
    </div>
    <div class="text-justify overflow-auto w-50 text-center">
      <img src="assets/images/LogoIAPA.jpg" class="w-75" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="assets/images/omec_ps.png" class="w-75" />
    </div>
  </div>
  <div class="row p-5">
    <div class="w-100 text-justify">
      <p>
        La herramienta de visualización rápida permite, a partir de información
        secundaria, identificar si un área cumple con los criterios para ser una
        potencial OMEC*, para posteriormente proceder con la aplicación de las
        siguientes partes de la metodología.
      </p>
      <p>
        Reconociendo las múltiples oportunidades que ofrecen las OMEC tanto para
        la conservación de la biodiversidad como para el desarrollo sostenible
        de los territorios, el Proyecto Integración de las Áreas Protegidas del
        Bioma Amazónico (IAPA), financiado por la Unión Europea, coordinado por
        la FAO e implementado conjuntamente con UICN, WWF y ONU-Medio Ambiente,
        pone a disposición de todos los interesados (autoridades de gobernanza,
        comunidades, territorios indígenas, proyectos, entre otros) este
        aplicativo web de la herramienta de visualización rápida propuesta por
        Jonas y Marnewick (2021 documento en preparación), que busca facilitar
        el proceso para la identificación de OMEC.
      </p>
      <p>
        * Las potenciales OMEC se entienden como un espacio geográficamente
        definido en el cual se han identificado características de OMEC pero en
        el que la autoridad que ejerce la gobernanza aún no ha aplicado la
        herramienta de evaluación para que se una &quot;OMEC candidata&quot;
        (CMAP de la UICN, 2020).
      </p>
    </div>
  </div>
</div>
